<head>
  <meta charset="utf-8">
  <title>동아리 상세페이지</title>
  <link rel="stylesheet" href="Ginfo_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  </head>

<body>
  <div class="section">
    <input type="radio" name="slide" id="slide1" checked>
    <input type="radio" name="slide" id="slide2">
    <input type="radio" name="slide" id="slide3">
    <div class="slidewrap">
      <ul class="slidelist">
        <li>
          <link>
            <label for="slide3" class="left"></label>
            <img src="https://imagesvc.meredithcorp.io/v3/mm/image?q=85&c=sc&poi=face&w=1440&h=754&url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F4528774.jpg">
            <label for="slide2" class="right"></label>
          </link>
        </li>
        <li>
          <a>
            <label for="slide1" class="left"></label>
            <img src="https://www.thepinx.co.kr/images/biotopia/bakery-07-large.jpg">
            <label for="slide3" class="right"></label>
          </a>
        </li>
        <li>
          <a>
            <label for="slide2" class="left"></label>
            <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2004/2/11/0/fo1d52_chocolate_tart.jpg.rend.hgtvcom.616.462.suffix/1371584000788.jpeg">
            <label for="slide1" class="right"></label>
          </a>
        </li>
      </ul>
    </div>
</div>
  <section class="input_text">
    <div class="cabbage">
    <img src="https://www.flaticon.com/svg/static/icons/svg/765/765618.svg">
  </div>
<div class="textbox">
      <h2>제빵왕 김제빵(동아리 이름)</h2>
        <div class="name-area">
           <i class="fas fa-map-marker-alt map"></i> 죽전동
              </div>
            </div>
        <div class="int-area">
          <textarea name="explain">죽전동 주민 여러분! 같이 빵을 만들어요! 장소는 000카페이고 회비 매달 걷고있습니다! 많은 연락주세요!</textarea>
        </div>


      </selection>

  </body>
  </html>
