.UserInfo {
<<<<<<< HEAD
  h1 {
    margin-left: 5rem;
  }
  h2 {
    margin-right: 5rem;
    text-align: end;
    color: gray;
  }
  .normal__info {
    margin-bottom: 1rem;
  }

.additional__info {
  margin-top: 3rem;
  margin-bottom: 1rem;
  }
}
=======
    h1 {
      margin-left: 5rem;
    }
    h2 {
      margin-right: 5rem;
      text-align: end;
      color: gray;
    }
    .normal__info {
      margin-bottom: 1rem;
    }
  
  .additional__info {
    margin-top: 3rem;
    margin-bottom: 1rem;
    }
  }
>>>>>>> 91f7ecdafccb937c30100e6863d7e81ac7ad589a
