.UserInfo {
    h1 {
      margin-left: 5rem;
    }
    h2 {
      margin-right: 5rem;
      text-align: end;
      color: gray;
    }
    .normal__info {
      margin-bottom: 1rem;
    }
  
  .additional__info {
    margin-top: 3rem;
    margin-bottom: 1rem;
    }
  }